{% extends "base.html" %}
{% block bodycontent %}

<div class="container">
    <center>
        <h1-logo><b>Buying &amp; Selling</b></h1-logo>
        
        <br>
        <br>
        <br>
        
        <div class="container">
            <center>
                <a href="{{ url_for('register') }}">
                    <button class="btn btn-lg">Register</button>
                </a>
                <a href="{{ url_for('login') }}">
                    <button class="btn btn-lg">Login</button>
                </a>
            </center>
        </div> <!-- /.container -->
    </center>
</div> <!-- /.container -->

{% endblock bodycontent %}