{% extends "base.html" %}
{% block bodycontent %}

<div class="text-center">

  <h1-logo><b>Buying and Selling</b></h1-logo>
<div>
    <center>
        <br>
        Click here to register:
        <br>
        <a href="{{ url_for('register') }}">
            <button class="btn btn-default">Register</button>
        </a>
        <br>
        <br>
        Click here to login:
        <br>
        <a href="{{ url_for('login') }}">
            <button class="btn btn-default">Log in</button>
        </a>
    </center>

</div>

{%endblock bodycontent %}
