{% extends "base.html" %}
{% block bodycontent %}

<h1>Log In</h1>

{{message}}

<div>
    <h2>Have an account? Sign in here</h2>
    <form role="form" method="POST">
        <p>
            <input type="text" class="form-control" name="logusername" placeholder="Username"/>
        </p>
        <p>
            <input type="password" class="form-control" name="logpassword" placeholder="Password"/>
        </p>
        <p>
            <input type="submit" name="b" class="btn btn-default" value="Log In"/>
            <input type="submit" name="b" class="btn btn-default" value="Cancel"/>
        </p>
    </form>
        <p>
          Don't have an account yet? Register here!
          <br>
          <form action="{{ url_for('register') }}">
	    <input type="submit" class="btn btn-default" value="Register">
	  </form>
        </p>
</div>

{%endblock bodycontent %}
