{% extends "base.html" %}
{% block bodycontent %}

<br><h1-title>Log In</h1-title><br><br>

{{message}}

<div>
    <h2-header>Sign in here:</h2-header><br><br>
    <form role="form" method="POST">
        <p>
            <input type="text" class="form-control" name="logusername" placeholder="Username"/>
        </p>
        <p>
            <input type="password" class="form-control" name="logpassword" placeholder="Password"/>
        </p>
        <p>
            <input type="submit" name="b" class="btn btn-default" value="Log In"/>
            <input type="submit" name="b" class="btn btn-default" value="Cancel"/>
        </p>
    </form>
        <br><br><p>
          <h2-header>Don't have an account yet?<br> Register here!</h2-header>
          <br>
          <form action="{{ url_for('register') }}">
	    <input type="submit" class="btn btn-default" value="Register">
	  </form>
        </p>
</div>

{%endblock bodycontent %}
