{% extends "home.html" %}

{% block bodycontent %}

<center><h1-title>The Market</h1-title></center>

<!-- this should probably have some kind of content -->

{% if posts|length==0  %}
<center>
    <h2-header>No one is selling anything right now, sorry!</h2-header>
</center>
{% endif %}


{% for item in posts %}

<div class="panel panel-info">
  <div class="panel-heading">
   <h3>{{item[1]}}</h3>
    <h4>{{item[0]}}</h4>
  </div>
  <div class="panel-body">
    <div class="media">
      <div class="media-body">
	<h2-header>{{item[1]}}</h2-header>
	<h3>{{item[2]}}</h3>
      </div>
      <div class="media-right">
	  <img class="media-object" src={{item[3]}} height="250px" alt="what"><br>
      </div>
    </div>
    <div class="well well-sm">
      Price: {{item[6]}}<br>
      Start time: {{item[4]}}<br>
      End time: {{item[5]}}
    </div>
  </div>
  <div class="panel-footer">
    {{item[7]}}
  </div>

</div>

{% endfor %}

{% endblock bodycontent %}
