{% extends "home.html" %}

{% block bodycontent %}

<center><h1-title>The Market</h1-title></center><br>

<!-- this should probably have some kind of content -->

{% if posts|length==0  %}
<center>
    <h2-header>No one is selling anything right now, sorry!</h2-header>
</center>
{% endif %}

<div class="container" style="max-width:600px;">
  {% for item in posts %}

  <div class="panel panel-info">
    <div class="panel-heading">
      <h4 style="text-align:left;">{{item[2]}}
	<small><span style="float:right;"><a href="{{url_for('profile',user=item[1])}}">{{item[1]}}</a></span></small></h4>
    </div>
    <div class="panel-body">
      <div class="media">
	<div class="media-left">
	  <a href="{{url_for('viewpost', postid=item[0])}}">
	    <img class="img-rounded" src={{item[3]}} height="150px" width="150px" alt="what"></a><br><br>
	</div>
	<div class="media-body">
	  <h3 style="word-break:break-all;word-wrap:break-word;">{{item[2]}}</h3><br>
	  <h4>	
	    Current Price: ${{item[6]}}<br>
	    Start of Bidding: {{item[4]}}<br>
	    End of Bidding: {{item[5]}}
	  </h4>
	</div>
      </div>
    </div>
    <div class="panel-footer">
      {{item[7]}}
    </div>
  </div>
  {% endfor %}
</div>

{% endblock bodycontent %}
