{% extends "home.html" %}

{% block bodycontent %}
<h1>MY ITEMS PAGE</h1>
<div class="container" style="max-width:730px;">
      <form method="POST">
	<p><input type="text" class="form-control" name="title" placeholder="Title"></p>
	<p><input type="text" class="form-control" name="content" placeholder="Content"></p>
	<p><input type="text" class="form-control" name="price" placeholder="Price"></p>
	<input type="submit" name="b" class="btn btn-default" value="Submit">
      </form>
    </div><!-- /.container -->
{% endblock bodycontent %}
