{% extends "home.html" %}

{% block bodycontent %}
<h1>MY ITEMS PAGE</h1>
<div class="container" style="max-width:730px;">
      <form method="POST">
	<p><input type="text" class="form-control" name="title" placeholder="What are you selling?"></p>
	<p><input type="text" class="form-control" name="content" placeholder="Description of the item"></p>
	<p><input type="text" class="form-control" name="price" placeholder="Starting price"></p>
	<p><input type="text" class="form-control" name="timeends" placeholder="When does the bidding end?"></p>
	<p><input type="text" class="form-control" name="tags" placeholder="Add some tags seperate by comma"></p>
	<input type="submit" name="b" class="btn btn-default" value="Submit">
      </form>
    </div><!-- /.container -->
{% endblock bodycontent %}
