{% extends "home.html" %}

{% block bodycontent %}
<center><h3>{{message}}</h3></center><br>

<div class="container" style="max-width:730px;">
<div class="panel panel-info">
    <div class="panel-heading">
        <h3 class="panel-title"> Add a new item!</h3>
    </div>
    <div class="panel-body">
       <form role="form" method="POST">
	<p><input type="text" class="form-control" name="title" placeholder="What are you selling?"></p>
	<p><input type="text" class="form-control" name="content" placeholder="Describe the item and put relevant information"></p>
	<p><input type="text" class="form-control" name="picture" placeholder="Paste the url of an image of what you are selling"></p>
	<p><input type="text" class="form-control" name="start_price" placeholder="What is the starting price?"></p>
	<p><input type="text" class="form-control" name="time_start" placeholder="When does the bidding start?"></p>
	<p><input type="text" class="form-control" name="time_ends" placeholder="When does the bidding end?"></p>
	<p><input type="text" class="form-control" name="tags" placeholder="Add some tags seperated by comma"></p>
	<input type="submit" name="b" class="btn btn-default" value="Submit">
      </form>
    </div>
</div>
</div><!-- /.container -->

{% endblock bodycontent %}
