{% extends "home.html" %}

{% block bodycontent %}

<div class="container">
    <center>
        <h1-title>Welcome {{ name }}!</h1-title>
        <br>
        <img src={{ profilepicture }} height="300px" class="img-rounded"/>
    </center>
    
    <h2-header>Your profile</h2-header>
    <br/>
    <h3-nice>Username <small>{{ username }}</small></h3-nice>
    <br/>
    <h3-nice>Name <small>{{ name }}</small></h3-nice>
    <br/>
    <h3-nice>Bio <small>{{ bio }}</small></h3-nice>
</div>

<!-- should this have a way to edit or -->

{% endblock bodycontent %}