{% extends "home.html" %}

{% block bodycontent %}
<div class="container" style="max-width:450px;">
  <div class="text-center">
    <h1-title>Welcome {{ name }}!</h1-title>
    <br>
    <img src={{ profilepicture }} height="300px" class="img-rounded"/>
  </div>
  <div class="text-left">
    <h2-header>Your profile</h2-header>
    <br/>
    <h3-nice>Username <small>{{ username }}</small></h3-nice>
    <br/>
    <h3-nice>Name <small>{{ name }}</small></h3-nice>
    <br/>
    <h3-nice>Bio <small>{{ bio }}</small></h3-nice>
  </div>
  <div class="text-center">
    <form role="form" method="POST">
      <input type="submit" class="btn btn-default" name="b" value="Edit Profile">
      <br>
      <br>
    </form>
  </div>
</div>

{% endblock bodycontent %}

