{% extends "base.html" %}
{% block bodycontent %}
<br><br>
<div class="panel panel-info">
  <div class="panel-heading">
    <h1>Welcome to Buying and Selling!</h1>
  </div>
  <div class="panel-body">
    <h2-header>Please take a few minutes to fill out this information before you get started.</h2-header><br>
    <form role="form" method="POST"> 
      <div class="well well-sm">
	<h2-header>Name:</h2-header>
	<input type="text" class="form-control" name="name" placeholder="What name would you like to be called?"><br>
	<h2-header>Profile picture:</h2-header>
	<input type="text" class="form-control" name="picture" placeholder="Paste the url of the image you would like your profile picture to be"><br>
	<h2-header>Bio:</h2-header>
	<input type="text" class="form-control" name="bio" placeholder="Please tell us a little about yourself">
	<h2-header>Contact Information:</h2-header>
	<input type="text" class="form-control" name="contactinfo" placeholder="Please put something that people can contact you with.">
      </div><!----well--->
      <br><input type="submit" class="btn btn-default" name="b" value="Submit">
    </form>
  </div><!---panelbody--->
</div><!---panel--->


{% endblock bodycontent %}
