{% extends "home.html" %}

{% block bodycontent %}
<h2-header>{{otheruser}}</h2-header><br>
<form role="form" method="POST">
  <div class="input-group">
    <input type="text" class="form-control" name="response" placeholder="Respond">
    <span class="input-group-btn">
      <input type="submit" name="b" class="btn btn-default" value="Submit">
    </span>
  </div>
</form>
<br>

<div class="panel panel-default">
  <ul class="list-group">
    {% for item in messlog %}
    <li class="list-group-item">{{item}}</li>
    {% endfor %}
</div> 
</div>

{% endblock bodycontent %}
